/* .login {
  border: 2px solid rgb(172, 5, 116);
} */
.account {
  width: 90vw;
  height: 64vh;
  top: 25vh;
  background-color: rgb(212, 212, 212);
  position: absolute;
  display: grid;
  margin: 1rem;
  text-align: center;
  grid-template-columns: 100vw;
  grid-template-rows: 25% 15% auto;
  justify-content: center;

  grid-template-areas:
    'account-message'
    'switch-user-message'
    'switch-user-list';
}
.account__message {
  grid-area: account-message;
}
.switch-user__message {
  grid-area: switch-user-message;
}

.switch-user__list {
  grid-area: switch-user-list;
}
