.account {
  width: 100vw;
  min-height: 100vh;
  top: 25vh;
  background-color: var(--secondary-color-light);
  position: absolute;
  display: grid;
  text-align: center;
  grid-template-columns: 100vw;
  grid-template-rows: 10% auto 10vh;
  justify-content: center;

  grid-template-areas:
    'account-message'
    'switch-user-list'
    'footer';
}
.account__message {
  margin: 1.5rem;
  text-transform: uppercase;
  grid-area: account-message;
}

.switch-user__list {
  grid-area: switch-user-list;
  margin: 0 auto 1rem;
  padding: 0;
}

.account-user__list {
  text-transform: uppercase;
  margin: 1rem;
}

.account__user {
  background-color: var(--secondary-color-lightest);
  border-radius: 3px;
  margin: 1rem;
  padding: 0.75rem;
}

.bold__username {
  font-size: 1.2rem;
  color: var(--primary-color);
}

.account__footer {
  grid-area: footer;
}

@media only screen and (min-width: 700px) {
  .account {
    grid-template-rows: 5% auto;
    height: 100%;
  }

  .account__message {
    margin-top: 3rem;
  }

  .switch-user__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin: 0.5rem;
  }

  .account__user {
    height: 8rem;
    width: 12rem;
  }
}

@media only screen and (min-width: 700px) {
  .account {
    height: 100vh;
  }
}
