.app {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
}

ul {
  list-style: none;
}

/* .btn {
  background-color: var(--primary-color);
  color: var(--color-white);
  border: none;
} */
