.categories {
  width: 90vw;
  height: 64vh;
  top: 25vh;
  background-color: rgb(212, 212, 212);
  position: absolute;
  display: grid;
  margin: 1rem;
  text-align: center;
  grid-template-columns: 100vw;
  grid-template-rows: 15% auto 25%;
  justify-content: center;

  grid-template-areas:
    'categories-title'
    'categories-list'
    'form';
}
.cat_title {
  grid-area: categories-title;
}
.cat_form {
  padding-left: 3rem;
  grid-area: form;
  width: 70vw;
}

.cat_list {
  grid-area: categories-list;
}
