.categories {
  width: 100vw;
  height: auto;
  top: 25vh;
  background-color: var(--secondary-color-light);
  position: absolute;
  display: grid;
  text-align: center;
  grid-template-columns: 100vw;
  grid-template-rows: 10% auto 4rem;

  grid-template-areas:
    'categories-title'
    'categories-list'
    'footer';
}
.cat__title {
  grid-area: categories-title;
  text-transform: uppercase;
  padding: 2rem;
}

.cat__name {
  color: var(--secondary-color);
  padding: 0 5px 5px 5px;
}

.cat__list {
  width: 80%;
  grid-area: categories-list;
}

.cat__item {
  text-transform: uppercase;
  height: 3rem;
  width: 80%;
  background-color: var(--secondary-color-lightest);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem auto;
}

.categories__btn {
  padding: 0.25rem 0.75rem;
  border-radius: 15px;
  font-size: 0.75rem;
}

.cat__footer {
  grid-area: footer;
}

@media only screen and (min-width: 700px) {
  .cat__list {
    margin: auto 2.5rem;
    margin-bottom: 3rem;
  }
}
