/* .create-review {
  border: 2px solid rgb(5, 102, 119);
} */
/* .login {
  border: 2px solid rgb(172, 5, 116);
} */
.create-review {
  width: 90vw;
  height: 64vh;
  top: 25vh;
  background-color: rgb(212, 212, 212);
  position: absolute;
  display: grid;
  margin: 1rem;
  text-align: center;
  grid-template-columns: 100vw;
  grid-template-rows: 15% auto;
  justify-content: center;

  grid-template-areas:
    'review-title'
    'review-form';
}
.create-review__title {
  grid-area: review-title;
}

.create-review__form {
  grid-area: review-form;
}
