.footer {
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: var(--primary-color);
  color: white;
  grid-template-columns: 40% 20%;
  grid-template-rows: 100%;
  grid-template-areas: 'social logo';
  width: 100vw;
  height: 4rem;
}
.footer__social-container {
  grid-area: social;
}

.footer_social {
  padding: 0;
  opacity: 0;
}

.footer_logo {
  grid-area: logo;
  height: 30px;
  width: auto;
}
