.home {
  position: absolute;
  background-color: rgb(212, 212, 212);
  display: grid;
  width: 100vw;
  height: 68vh;
  top: 25vh;
  grid-template-columns: 100vw;
  grid-template-rows: 15% 15% 55%;
  grid-template-areas:
    'menubar'
    'search'
    'reviews_list';
}

.menubar {
  grid-area: menubar;
  height: 3rem;
  width: 100vw;

  background-color: rgb(155, 2, 2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menubar__link {
  text-decoration: none;
}
.menubar__item {
  margin: 0;
  color: rgb(255, 255, 255);
}

.menubar__categories {
  border-right: 2px solid rgb(255, 255, 255);
  padding-right: 10px;
}

/* .menubar__reviews {
} */

.menubar__users {
  border-left: 2px solid rgb(255, 255, 255);
  padding-left: 10px;
}

.search {
  grid-area: search;
}

.reviews__list {
  text-align: center;
  grid-area: reviews_list;
}
