@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --color-grey-dark: #313030;
  --color-grey-light: #5c5b5b;
  --color-white-grey: #c7c7c7;

  /* color scheme 1  */

  --color-black: #262626;
  --color-white: #f2f2f2;
  --tertiary-color: #f28729;
  --tertiary-color-light: #f3b57f;
  --secondary-color: #024059;
  /* --secondary-color-light: #9bcadd; */
  /* --secondary-color-light: #98c1d9; */
  --secondary-color-light: #adb2b6;
  /* --secondary-color-lightest: #b3d2e4; */
  --secondary-color-lightest: #c8c9ca;

  --primary-color: #714c77;

  /* color scheme 2 */
  --color-blue-light: #50c6c7;
  --color-blue-dark: #009394;
  --color-green-light: #96fac2;
  --color-pink-light: #faa0b3;
  --color-purple-light: #c77cb2;
}

* {
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading_screen {
  position: absolute;
  background-color: var(--secondary-color-light);
  background-size: 100%;
  width: 100vw;
  height: 75vh;
  top: 25vh;
}

.spinner-box {
  margin: 50% 45%;
}

.btn_link {
  text-decoration: none;
}
