.menu {
  position: absolute;
  background-color: var(--primary-color);
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 100vw;
  grid-template-rows: 50% 10% 35%;
  grid-template-areas:
    'menu-list'
    'close-menu'
    'menu-social';
  text-align: center;
  justify-items: center;

  opacity: 1;
  z-index: 200;
  scale: 100;
}

.menu-hidden {
  scale: 50;
  transition: transform 0.8s cubic-bezier(0.5, 1, 0.89, 1);
}

.close__menu {
  grid-area: close-menu;
  color: 'white';
  background-color: white;
  margin: 2rem;
}
.btn-hidden {
  opacity: 0;
}
.menu__list {
  grid-area: menu-list;
  text-transform: uppercase;
  padding-left: 0;
  margin-top: 8rem;
}

.menu-social__container {
  grid-area: menu-social;
  width: 10rem;
  margin: 5rem;
}

.menu_item {
  font-size: 1.5rem;
  padding: 1rem;
}

.menu__link {
  text-decoration: none;
  color: white;
  margin: 1rem;
}

@media only screen and (min-width: 700px) {
  .menu_item {
    font-size: 5rem;
  }
}
