.menu {
  position: absolute;
  background-color: var(--secondary-color-light);
  display: grid;
  width: 100vw;
  height: 100vh;

  top: 0;
  grid-template-columns: 100vw;
  grid-template-rows: 15% 15% auto 35%;
  grid-template-areas:
    'close-menu'
    'menu-title'
    'menu-list'
    'menu-social';
  text-align: center;
  justify-items: center;
  opacity: 1;
  z-index: 200;
  scale: 80;
}

.menu-hidden {
  scale: 50;
  transition: transform 0.8s cubic-bezier(0.5, 1, 0.89, 1);
}

.menu__title {
  color: white;
  grid-area: menu-title;
}

.close__menu {
  height: 1rem;
  width: 1rem;
  grid-area: close-menu;
  background-color: white;
  margin: 2rem;
}
.btn-hidden {
  opacity: 0;
}
.menu__list {
  grid-area: menu-list;
  text-transform: uppercase;
}

.menu__social {
  grid-area: menu-social;
}

.menu__link {
  align-self: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}
