.nav {
  display: grid;
  background-color: white;
  width: 100vw;
  height: 22vh;
  top: 0;
  position: absolute;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: auto 15% 10%;
  grid-template-areas:
    'logo logo logo'
    'links menu social'
    'links menu login-name';
}

.logo {
  height: 80px;
  width: auto;
}

.logo_box {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: logo;
  background-color: rgb(155, 2, 2);
}

.nav_social {
  grid-area: social;
  background-color: rgb(255, 255, 255);
}

.menu__icon {
  grid-area: menu;
  margin: 20px;
  background-color: maroon;
  height: 1rem;
}

.links {
  display: flex;
  justify-content: space-around;
  grid-area: links;
  background-color: rgb(255, 255, 255);
}
.link {
  color: black;
}
.nav_link {
  text-decoration: none;
}

.login-name {
  grid-area: login-name;
  font-size: 0.5rem;
}
