.reviews {
  width: 100vw;
  height: auto;
  top: 25vh;
  background-color: var(--secondary-color-light);
  position: absolute;
  display: grid;
  text-align: center;
  align-items: center;

  grid-template-columns: 100vw;
  grid-template-rows: 3rem 3rem 3rem auto 4rem;
  justify-content: center;

  grid-template-areas:
    'reviews-title'
    'sort-form'
    'new-review'
    'reviews-list'
    'button';
}
.reviews__title {
  text-transform: uppercase;
  padding: 1rem;
  grid-area: reviews-title;
}
.reviews-new-review__btn {
  grid-area: new-review;
}

.reviews-sort-form {
  grid-area: sort-form;
  justify-content: center;
}

.reviews__list {
  grid-area: reviews-list;
}

.reviews__single {
  height: auto;
  width: 70vw;
  background-color: var(--secondary-color-lightest);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem auto;
  text-align: left;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 20% 10% 10% 20% 40%;
  grid-template-areas:
    'category category'
    'img title'
    'img owner'
    'img votes'
    'img list-button';
}
.reviews-list__thumbnail {
  grid-area: img;
  object-fit: cover;
  width: 80%;
  height: 80%;
  margin: 0.25rem;
}

.reviews__category {
  font-size: 0.75rem;
  grid-area: category;
  text-transform: uppercase;
}

.reviews-single__title {
  font-size: 0.6rem;
  margin-bottom: 3rem;
  grid-area: title;
}

.reviews__votes {
  grid-area: votes;
  padding: 0.5rem 0;
  font-size: 0.5rem;
}

.reviews-single__btn {
  grid-area: list-button;
}

.reviews__owner {
  text-transform: uppercase;
  grid-area: owner;
  padding: 0.5rem 0;
  font-size: 0.5rem;
}

@media only screen and (min-width: 700px) {
  .reviews__single {
    width: 60vw;
    padding-left: 5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .reviews {
    grid-template-rows: 6rem 4rem 3rem auto 4rem;
  }

  .reviews__title {
    font-size: 2rem;
    margin: 1rem;
  }

  .reviews__list {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .reviews__single {
    width: 35%;
    padding-left: 2rem;
    padding-top: 1.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .reviews__category {
    font-size: 1.25rem;
  }
  .reviews-single__title {
    font-size: 1rem;
  }

  .reviews__owner {
    font-size: 1rem;
  }

  .reviews__votes {
    font-size: 1rem;
  }
}
