.reviews {
  width: 90vw;
  height: 64vh;
  top: 25vh;
  background-color: rgb(212, 212, 212);
  position: absolute;
  display: grid;
  margin: 1rem;
  text-align: center;
  grid-template-columns: 100vw;
  grid-template-rows: 15% auto 25%;
  justify-content: center;

  grid-template-areas:
    'reviews-title'
    'reviews-list'
    'button';
}
.reviews__title {
  grid-area: reviews-title;
}
.reviews__btn {
  grid-area: button;
  padding-left: 3rem;
  grid-area: form;
  width: 70vw;
}

.reviews__list {
  grid-area: reviews-list;
}
