.search {
  background-color: rgb(212, 212, 212);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_placeholder {
  text-align: center;
  background-color: rgb(155, 2, 2);
  border-radius: 20px;
  display: inline-block;
  padding: 5px 25px;
  margin: 5px;
  color: white;
}
