.single-category {
  width: 100vw;
  height: auto;
  top: 25vh;
  background-color: var(--secondary-color-light);
  position: absolute;
  display: grid;
  text-align: center;
  grid-template-columns: 100vw;
  grid-template-rows: 45% auto;
  justify-content: center;

  grid-template-areas:
    'category-content'
    'reviews-list';
}
.single-category__content {
  background-color: var(--color-white);
  height: 10rem;
  margin: 2rem;
  border-radius: 5px;
  grid-area: category-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-category__reviews-list {
  background-color: var(--color-white);
  grid-area: reviews-list;
}
.single-category__description {
  font-size: 0.75rem;
  text-align: left;
  margin: 1rem;
}

.single-category__title {
  text-align: left;
}
