/* .single-review {
  border: 2px solid rgb(13, 82, 1);
} */
/* .login {
  border: 2px solid rgb(172, 5, 116);
} */
.single-review {
  width: 90vw;
  height: auto;
  top: 25vh;
  background-color: rgb(212, 212, 212);
  position: absolute;
  display: grid;
  margin: 1rem;
  text-align: center;
  grid-template-columns: 100vw;
  grid-template-rows: 2rem 8rem 5rem auto;
  justify-content: center;

  grid-template-areas:
    'single-review-title '
    'single-review-content'
    'single-review-form'
    'single-review-comments';
}
.single-review__title {
  margin: 1rem;
  grid-area: single-review-title;
}

.single-review__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  font-size: 0.5rem;
  grid-area: single-review-content;
}

.comment__form {
  grid-area: single-review-form;
}

.single-review__comments-list {
  grid-area: single-review-comments;
}

.single-review__votes {
  padding: 2rem;
  margin: 2rem;
}

.review__image {
  height: 4rem;
  width: auto;
  background-color: cornsilk;
}

.single-review__description {
  text-align: left;
}
