.single-user {
  width: 100vw;
  min-height: auto;
  top: 25vh;
  background-color: var(--secondary-color-light);
  position: absolute;
  display: grid;
  text-align: center;
  grid-template-columns: 100vw;
  grid-template-rows: auto 15%;
  justify-content: center;

  grid-template-areas:
    'single-user-content'
    'single-user-btn';
}
.single-user__content {
  grid-area: single-user-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.single-user__back-btn {
  grid-area: single-user-btn;
  padding: 0.25rem 0.75rem;
  border-radius: 15px;
  font-size: 0.75rem;
}

.user-image-box {
  height: auto;
  width: 60%;
  padding: 1rem;
}

.single-user__name {
  padding: 1rem;
}

.single-user__username {
  text-transform: uppercase;
}
