.single-review {
  width: 100vw;
  min-height: 75vh;
  top: 25vh;
  background-color: var(--secondary-color-light);
  position: absolute;
  display: grid;
  text-align: center;
  grid-template-columns: 100vw;
  grid-template-rows: 2rem auto auto 8rem;
  justify-content: center;

  grid-template-areas:
    'single-review-title '
    'single-review-content'
    'single-review-comments'
    'single-review-form';
}
.single-review-page__title {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin: 1rem;
  grid-area: single-review-title;
}

/* new comment form */

.single-review__comment-form {
  margin: 0.5rem;
  margin-bottom: 3rem;
  grid-area: single-review-form;
  padding: 1rem;
}

/* review content  */

.single-review__content {
  height: auto;
  border-radius: 3px;
  background-color: var(--secondary-color-lightest);
  margin: 1rem;
  padding: 1rem;
  font-size: 0.5rem;
  grid-area: single-review-content;
  align-items: center;
  display: grid;
  grid-template-columns: 25% 10% 65%;
  grid-template-rows: 5% 5% 5% 5% 55% 15% 10%;
  grid-template-areas:
    'img designer designer '
    'img created-at created-at'
    'img category category'
    'img owner owner'
    'description description description'
    'votes votes delete'
    'comment-count comment-count delete';
}

.single-review__created-at {
  grid-area: created-at;
  text-align: left;
  padding: 0.25rem;
  margin: 0.5rem;
}

.single-review__designer {
  grid-area: designer;
  text-align: left;
  padding: 0.25rem;
  margin: 0.5rem;
}

.single-review__category {
  grid-area: category;
  padding: 0.25rem;
  text-align: left;
  margin: 0.5rem;
}

.single-review__votes {
  grid-area: votes;
  padding: 0.25rem;
  align-self: center;
  justify-self: start;
}

.single-review__image {
  grid-area: img;
  object-fit: cover;
  width: 100%;
  height: 80%;
  margin: 0.5rem;
}

.single-review__owner {
  margin: 0.5rem;
  grid-area: owner;
  text-align: left;
  padding: 0.25rem;
}
.single-review__description {
  grid-area: description;
  border-radius: 3px;
  text-align: left;
  margin: 0.5rem;
  font-size: 0.6rem;
}
.single-review__comment-count {
  grid-area: comment-count;
  text-align: left;
  padding: 0.25rem;
  font-size: 0.75rem;
  margin: 0.5rem;
}

.single-review__delete-btn {
  grid-area: delete;
  justify-self: end;
}

.single-review__delete-btn:disabled {
  background-color: silver;
}

/* list of comments  */

.single-review__comments-list {
  height: auto;
  grid-area: single-review-comments;
  margin-bottom: 2rem;
}

.single-comment {
  background-color: var(--secondary-color-lightest);
  border-radius: 3px;
  height: 8rem;
  width: 80%;
  padding: 1rem;
  margin-top: 1.5rem;
  font-size: 0.5rem;
  text-align: left;
  align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% auto 30%;
  grid-template-areas:
    'author author'
    'body body'
    'com-votes delete';
}

.single-comment__author {
  grid-area: author;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.single-comment__body {
  grid-area: body;
  font-size: 0.65rem;
}

.single-comment__delete-btn {
  grid-area: delete;
  justify-self: end;
}

.single-comment__delete-btn {
  grid-area: delete;
}

.single-comment__delete-btn:disabled {
  background-color: silver;
}
.single-comment__votes {
  grid-area: com-votes;
  align-self: center;
  justify-self: start;
}
