.social {
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
}

.facebook {
  height: 1.5rem;
  width: auto;
}

.insta {
  height: 1.5rem;
  width: auto;
}

.reddit {
  height: 1.5rem;
  width: auto;
}

.twitter {
  height: 1.5rem;
  width: auto;
}
