.users {
  width: 100vw;
  height: auto;
  top: 25vh;
  background-color: var(--secondary-color-light);
  position: absolute;
  display: grid;
  text-align: center;
  grid-template-columns: 100vw;
  grid-template-rows: 8% auto;
  justify-content: center;

  grid-template-areas:
    'users-title'
    'users-list';
}

.users__single {
  background-color: var(--secondary-color-lightest);
  margin: 1rem;
  border-radius: 3px;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.users__title {
  text-transform: uppercase;
  padding: 2rem;
  font-size: 1rem;
  grid-area: users-title;
}

.users__list {
  grid-area: users-list;
  width: 80%;
}

.loading {
  position: absolute;
  top: 30vh;
  text-align: center;
  padding: 4rem;
}

.users__username {
  padding: 0.5rem;
}

@media only screen and (min-width: 700px) {
  .users__list {
    margin: 1rem auto;
    width: 50%;
  }

  .users__single {
    margin: 1rem 0.5rem 1rem 0rem;
    padding-left: 0.25rem;
    font-size: 1rem;
  }

  .users__title {
    font-size: 1.5rem;
    text-align: center;
  }
}
