/* .users {
  border: 2px solid rgb(5, 73, 105);
} */
.users {
  width: 90vw;
  height: 64vh;
  top: 25vh;
  background-color: rgb(212, 212, 212);
  position: absolute;
  display: grid;
  margin: 1rem;
  text-align: center;
  grid-template-columns: 100vw;
  grid-template-rows: 15% auto 25%;
  justify-content: center;

  grid-template-areas:
    'users-title'
    'users-list'
    'button';
}
.users__title {
  grid-area: users-title;
}
.users__btn {
  grid-area: button;
  padding-left: 3rem;
  grid-area: form;
  width: 70vw;
}

.users__list {
  grid-area: users-list;
}

.loading {
  position: absolute;
  top: 30vh;
  text-align: center;
  padding: 4rem;
}
